<div class="auto-mode fade-trans fully-hidden transparent">

    <!-- Auto queue input panel -->
    <div class="centre-content-h">
        <div class="border-box-wrapper queue-input-panel">
            <%- include('../borders') %>
            <div class="border-box-content">
                <label class="incl-prev-ans-label">
                    <input class="incl-prev-ans" type="checkbox">Include previously answered questions
                </label>
            </div>
        </div>
    </div>

    <!-- Answer UI panel -->
    <div class="answer-panel">
        <%- include("components/queueImgs") %>
        <%- include("components/answerUIPanel") %>
    </div>
    
</div>