<div class="auto-mode fully-hidden">

    <!-- Auto queue input panel -->
    <div class="queue-input-panel">
        <h3>Auto queue...</h3>
        <label>
            <input class="incl-prev-ans" type="checkbox"> Include already answered
        </label>
        <hr>
    </div>

    <!-- Answer UI panel -->
    <div class="answer-panel">
        <%- include("components/queueImgs") %>
        <%- include("components/answerUIPanel") %>
    </div>

    <hr>
    
</div>