<div class="auto-mode fade-trans fully-hidden transparent">

    <!-- Auto queue input panel -->
    <div class="queue-input-panel">
        <label>
            <input class="incl-prev-ans" type="checkbox"> Include already answered
        </label>
        <hr>
    </div>

    <!-- Answer UI panel -->
    <div class="answer-panel">
        <%- include("components/queueImgs") %>
        <%- include("components/answerUIPanel") %>
    </div>

    <hr>
    
</div>