<div class="search-mode fully-hidden">

    <!-- Search queue input panel -->
    <div class="queue-input-panel">
        <h3>Search...</h3>
        <input type="text" class="search-input" placeholder="Enter search text...">
        <button class="search-btn">-></button>
        <br>
        <label>
            <input class="incl-prev-ans" type="checkbox" checked="checked"> Include already answered
        </label>
        <hr>
    </div>

    <!-- Answer UI panel -->
    <div class="answer-panel">
        <%- include("components/answerUIPanel") %>
    </div>

    <hr>
    
</div>