<div class="search-mode fade-trans fully-hidden transparent">

    <!-- Search queue input panel -->
    <div class="queue-input-panel">
        <input type="text" class="search-input" placeholder="Enter search text...">
        <button class="search-btn">-></button>
        <br>
        <label>
            <input class="incl-prev-ans" type="checkbox" checked="checked"> Include already answered
        </label>
    </div>
    
    <!-- Answer UI panel -->
    <div class="answer-panel">
        <%- include("components/queueImgs") %>
        <%- include("components/answerUIPanel") %>
    </div>
    
</div>