<!-- Single answer mode -->
<div class="single-answer-mode fully-hidden">
    
    <!-- Answer UI panel -->
    <div class="answer-panel fully-hidden">
        <%- include("components/answerUIPanel") %>
    </div>

</div>