<!-- Single answer mode -->
<div class="single-answer-mode fade-trans fully-hidden transparent">
    
    <div class="centre-modal-wrapper fade-trans fully-hidden transparent">
        <div class="centre-modal-background"></div>
        <div class="centre-modal">
            <!-- Answer UI panel -->
            <div class="answer-panel">
                <%- include("components/queueImgs") %>
                <%- include("components/answerUIPanel") %>
            </div>
            <button class="close">X</button>
        </div>
    </div>


</div>