/* General. */
@use "abstracts/variables" as vars;



// Elements
* {
  font-family: vars.$sansSerif;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at 0% 0%, vars.$primary-yellow 0%, vars.$primary-yellow 35%, vars.$lighter-yellow 100%) no-repeat fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0) 100%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: vars.$cursive;
  color: vars.$primary-grey;
}

h1 {
  font-weight: 700;
  font-size: vars.$fontSize1;
}

h2 {
  font-weight: 500;
  font-size: vars.$fontSize2;
}

h3 {
  font-weight: 500;
  font-size: vars.$fontSize3;
}

h4 {
  font-size: vars.$fontSize4;
}

h5 {
  font-size: vars.$fontSize5;
}

h6 {
  font-size: vars.$fontSize6;
}

p {
  font-size: vars.$fontSize7;
}
  
// Transition
.fade-trans {
  transition: opacity 0.3s;
}

// Positioning
.centre-content-h {
  display: flex;
  justify-content: center;
}

.pos-rel {
  position: relative;
}

// Visibility
.transparent {
  opacity: 0 !important;
}

.hidden {
  visibility: hidden !important;
}

.fully-hidden {
  display: none !important;
}

// Common classes
.pre-footer {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.white-fade {
    background-image: vars.$diag-white-fade;
}