/* General. */
:root {
  --2nd-queue-transp: 0.6;
  --3rd-queue-transp: 0.3;
}
  



.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid blue;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
 



  
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.transparent {
  opacity: 0;
}

.hidden {
  visibility: hidden;
}

.fully-hidden {
  display: none;
}








/* Questions page queues. */
.queue-imgs {
  position: relative;
  left: 0px;
}

.queue-imgs > div {
  width: 120px;
  height: 180px;
  display: inline-block;
  position: relative;
  vertical-align: bottom;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.placeholder-img {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100%;

  span {
    color: white;
    position: absolute;
  }
}

.queue-imgs div audio {
  position: absolute;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 1000;
  transition: opacity 1s;
}

.queue-imgs div:nth-child(2) {
  opacity: var(--2nd-queue-transp);
}

.queue-imgs div:nth-child(3) {
  opacity: var(--3rd-queue-transp);
}

.queue-imgs div:nth-child(4) {
  opacity: 0;
}

.queue-imgs div:nth-child(n + 5) {
  display: none;
}

.queue-imgs div:nth-child(n + 2) audio {
  opacity: 0;
  pointer-events: none;
}

/* Questions page queue transitions. */
.queue-imgs-transitioning {
  transition: 0.5s all;
  left: -120px;
}

.queue-imgs-transitioning div {
  transition: 0.5s all;
}

.queue-imgs-transitioning div:nth-child(1) {
  opacity: 0;
}
.queue-imgs-transitioning div:nth-child(2) {
  opacity: 1;
}
.queue-imgs-transitioning div:nth-child(3) {
  opacity: var(--2nd-queue-transp);
}
.queue-imgs-transitioning div:nth-child(4) {
  opacity: var(--3rd-queue-transp);
}

.queue-imgs-transitioning div:nth-child(2) audio {
  opacity: 1;
}





/* Question modes */
.fade-trans {
  transition: opacity 0.3s;
}


// Answer UI panel.
@import '../node_modules/@yaireo/ui-range/ui-range.scss';

.score-slider {
  --fill-color: linear-gradient(to right, rgb(112, 42, 42), var(--primary-color));
  --thumb-size: 30px;
  --track-height: var(--thumb-size) / 3;
  width: 500px;
  display: block;
  margin: 70px 0 60px 0;

  output::after {
    font-size: 20px !important;
  }
}



// Question source items.
.q-source > div {
  display: inline-block;
  width: 200px;
  height: 300px;

  img {
    width: 100%;
    object-fit: contain;
  }
}



// Modal, for single answer mode - prev answers / recommendations.
.centre-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .centre-modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .centre-modal {
    position: relative;
    display: inline-block;
    top: 25vh;
    left : 25vw;
    background-color: white;
    z-index: 10;

    > .close {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}