<nav>
    <div class="logo-container">
        <a href="/profile">
            <img class="nav-logo-img" src="/images/logoWhite.svg" alt="Profile">
        </a>
    </div>

    <div class="nav-dropdown pop-btn-container">
        <button class="nav-dropdown-btn pop-btn">
            <span class="nav-menu-btn-normal"><%= user.profileName %></span>
            <i class="fa-solid fa-user nav-menu-btn-small"></i>
            <i class="fa-sharp fa-solid fa-caret-down"></i>
        </button>

        <div class="dropdown-menu pop-btn-content fully-hidden transparent">
            <a class="dropdown-item" href="/profile">Profile</a>
            <a class="dropdown-item" href="/questions-menu">Questions</a>
            <a class="dropdown-item" href="/find-kindred">Find Kindred</a>
            <a class="dropdown-item" href="/recommendations">Recommendations</a>
            <a class="dropdown-item" href="/logout">Log out</a>
        </div>
    </div>
</nav>