<% allCategoryTypes.forEach(function(categoryType){ %>
  <div class="category-type-group">
    <h3 class="cat-checks-header h-size-4"><%= categoryType.name %></h3>
    <% categoryType.categories.forEach(function(category){ %>
      <label><%= category.name %>
        <input type="checkbox" name="<%= categoryType.name + "." +
        category.name %>" value="" class="category-checkbox"
        <% if (!selectableRecsFor.includes(category.name)){ %>
          disabled="disabled"
        <% }; %>
        >
      </label>
    <% }); %>
  </div>
<% }); %>
