<%- include('partials/header') %>
  <title>Kindred | Find Kindred</title>
</head>
<body>
  <%- include('partials/navbar') %>

  <div class="container mt-5">
    <h1>Find Kindred</h1>

    <div class="row">
      <div class="col-sm-8">

        <div class="card">
          <div class="card-body">

            <%- include('partials/categoryCheckboxesLimitSelects') %>

            <hr>
            <button type="button" class="find-kindred-btn btn btn-dark">Find Kindred</button>
            <a class="btn btn-light" href="/profile" role="button">Back to profile</a>

          </div>
        </div>

        <div class="card">
          <div class="card-body kindred-list">
            <div class="loader fade-trans fully-hidden transparent"></div>
            <div class="content fade-trans"></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script type="module" src="/js/pages/find-kindred.js"></script>

<%- include('partials/footer') %>
