<%- include('partials/header') %>
  <title>Kindred</title>
</head>
<body>
  <div class="page-content">
    <div class="home-content">
      <img class="home-logo" src="images/logoDark.svg" alt="">
      <h4 class="home-blurb">Find your kindred spirits...</h4>
      <hr>
      <a class="white-btn" href="/register" role="button">Register</a>
      <a class="grey-btn" href="/login" role="button">Login</a>
    </div>
  </div>

<%- include('partials/footer') %>
