<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Recommendations</h1>

  <div class="row">
    <div class="col-sm-8">

      <div class="card">
        <div class="card-body">

          <div class="recommendations-for">
            <h2>Recommendations for:</h2>
            <%- include('partials/categoryCheckboxes') %>
            <hr>
          </div>

          <div class="based-on">
            <h2>Based on:</h2>
            <%- include('partials/categoryCheckboxesLimitSelects') %>
            <hr>
          </div>

          <button type="button" class="get-recommendations btn btn-dark">Get Recommendations</button>
          <a class="btn btn-light" href="/profile" role="button">Back to profile</a>

        </div>
      </div>

      <div class="card">
        <div class="card-body recommendations-list">
          <p>Estimated liking - Item   -    Category   -   Category Type  - No. of recommends</p>
          <hr>
        </div>

        <!-- Recommendations list -->
        <div class="recommendations-list fully-hidden"></div>

        <div class="question-modes">
          <!-- Single answer mode -->
          <div class="single-answer-mode fully-hidden">
            <!-- Answer UI panel -->
            <div class="answer-panel fully-hidden">
              <div class="curr-question-div">
                <p class="curr-question">Placeholder...</p>
              </div>
              <div class="prev-ans-info hidden">
                <p>Question is already scored, current answer is:</p>
                <p class="prev-ans-val"></p>
              </div>
              <div class="rate-panel">
                <button class="change-score-btn big-change-btn down-btn"><<</button>
                <button class="change-score-btn small-change-btn down-btn"><</button>
                <span class="rating-score">5</span>
                <button class="change-score-btn small-change-btn up-btn">></button>
                <button class="change-score-btn big-change-btn up-btn">>></button>
                <br>
                <button class="skip-btn">Skip this one</button>
                <button class="rate-btn">Rate it!</button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<script type="module" src="js/recommendations.js"></script>

<%- include('partials/footer') %>
