/* General. */
* {
  font-family: "Catamaran", sans-serif;
}

html {
  height: 100%;
}

body {
  background: radial-gradient(circle at 0% 0%, hsl(52deg, 82%, 83%) 0%, hsl(52deg, 82%, 83%) 35%, hsl(52deg, 82%, 96%) 100%) no-repeat fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0) 100%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merienda", cursive;
  color: hsl(0deg, 0%, 21%);
}

h1 {
  font-weight: 700;
  font-size: calc(2rem + 1.5vw);
}

h2 {
  font-weight: 500;
  font-size: calc(1.6rem + 1.2vw);
}

h3 {
  font-weight: 500;
  font-size: calc(1.2rem + 0.9vw);
}

h4 {
  font-size: calc(0.8rem + 0.6vw);
}

.fade-trans {
  transition: opacity 0.3s;
}

.transparent {
  opacity: 0 !important;
}

.hidden {
  visibility: hidden !important;
}

.fully-hidden {
  display: none !important;
}

.centre-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-heading {
  margin-bottom: 8%;
}

.page-content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .register-content {
    display: block;
    margin: 20%;
  }
}
/* Mobile size. */
@media only screen and (max-width: 767px) {
  .register-content {
    display: block;
    margin: 15% 7%;
  }
}
.range-slider {
  --primary-color: #0366D6;
  --value-offset-y: var(--ticks-gap);
  --value-active-color: white;
  --value-background: transparent;
  --value-background-hover: var(--primary-color);
  --value-font: 700 12px/1 Arial;
  --fill-color: var(--primary-color);
  --progress-background: #EEE;
  --progress-radius: 20px;
  --track-height: calc(var(--thumb-size)/2);
  --min-max-font: 12px Arial;
  --min-max-opacity: .5;
  --min-max-x-offset: 10%;
  --thumb-size: 22px;
  --thumb-color: white;
  --thumb-shadow: 0 0 3px rgba(0,0,0,.4),
                  0 0 1px rgba(0,0,0,.5) inset,
                  0 0 0 99px var(--thumb-color) inset;
  --thumb-shadow-active: 0 0 0 calc(var(--thumb-size)/4) inset var(--thumb-color),
                         0 0 0 99px var(--primary-color) inset,
                         0 0 3px rgba(0,0,0,.4);
  --thumb-shadow-hover: var(--thumb-shadow);
  --ticks-thickness: 1px;
  --ticks-height: 5px;
  --ticks-gap: var(--ticks-height, 0);
  --ticks-color: silver;
  --step: 1;
  --ticks-count: (var(--max) - var(--min)) / var(--step);
  --maxTicksAllowed: 30;
  --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
  --x-step: Max( var(--step), var(--too-many-ticks) * (var(--max) - var(--min)) );
  --tickIntervalPerc_1: Calc( (var(--max) - var(--min)) / var(--x-step) );
  --tickIntervalPerc: calc( (100% - var(--thumb-size))/var(--tickIntervalPerc_1) * var(--tickEvery, 1) );
  --value-a: Clamp(var(--min), var(--value, 0), var(--max));
  --value-b: var(--value, 0);
  --text-value-a: var(--text-value, "");
  --completed-a: calc((var(--value-a) - var(--min) ) / (var(--max) - var(--min)) * 100);
  --completed-b: calc((var(--value-b) - var(--min) ) / (var(--max) - var(--min)) * 100);
  --ca: Min(var(--completed-a), var(--completed-b));
  --cb: Max(var(--completed-a), var(--completed-b));
  --thumbs-too-close: Clamp(
    -1,
    1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + 0.001),
    1
  );
  --thumb-close-to-min: Min(1, Max(var(--ca) - 5, 0));
  --thumb-close-to-max: Min(1, Max(95 - var(--cb), 0));
  box-sizing: content-box;
  display: inline-block;
  height: max(var(--track-height), var(--thumb-size));
  background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
  background-size: var(--tickIntervalPerc) var(--ticks-height);
  background-position-x: calc(var(--thumb-size) / 2 - var(--ticks-thickness) / 2);
  background-position-y: var(--flip-y, bottom);
  padding-bottom: var(--flip-y, var(--ticks-gap));
  padding-top: calc(var(--flip-y) * var(--ticks-gap));
  position: relative;
  z-index: 1;
}
.range-slider[data-ticks-position=top] {
  --flip-y: 1;
}
.range-slider::before, .range-slider::after {
  --offset: calc(var(--thumb-size)/2);
  content: counter(x);
  display: var(--show-min-max, block);
  font: var(--min-max-font);
  position: absolute;
  bottom: var(--flip-y, -2.5ch);
  top: calc(-2.5ch * var(--flip-y));
  opacity: clamp(0, var(--at-edge), var(--min-max-opacity));
  transform: translateX(calc(var(--min-max-x-offset) * var(--before, -1) * -1)) scale(var(--at-edge));
  pointer-events: none;
}
.range-slider::before {
  --before: 1;
  --at-edge: var(--thumb-close-to-min);
  counter-reset: x var(--min);
  left: var(--offset);
}
.range-slider::after {
  --at-edge: var(--thumb-close-to-max);
  counter-reset: x var(--max);
  right: var(--offset);
}
.range-slider__values {
  position: relative;
  top: 50%;
  line-height: 0;
  text-align: justify;
  width: 100%;
  pointer-events: none;
  margin: 0 auto;
  z-index: 5;
}
.range-slider__values::after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 0;
  background: red;
}
.range-slider__progress {
  --start-end: calc(var(--thumb-size)/2);
  --clip-end: calc(100% - (var(--cb) ) * 1%);
  --clip-start: calc(var(--ca) * 1%);
  --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
  position: absolute;
  left: var(--start-end);
  right: var(--start-end);
  top: calc(var(--ticks-gap) * var(--flip-y, 0) + var(--thumb-size) / 2 - var(--track-height) / 2);
  height: calc(var(--track-height));
  background: var(--progress-background, #EEE);
  pointer-events: none;
  z-index: -1;
  border-radius: var(--progress-radius);
}
.range-slider__progress::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  clip-path: var(--clip);
  top: 0;
  bottom: 0;
  background: var(--fill-color, black);
  box-shadow: var(--progress-flll-shadow);
  z-index: 1;
  border-radius: inherit;
}
.range-slider__progress::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: var(--progress-shadow);
  pointer-events: none;
  border-radius: inherit;
}
.range-slider > input {
  -webkit-appearance: none;
  width: 100%;
  height: var(--thumb-size);
  margin: 0;
  position: absolute;
  left: 0;
  top: calc(50% - max(var(--track-height), var(--thumb-size)) / 2 + var(--ticks-gap) / 2 * var(--flip-y, -1));
  cursor: -webkit-grab;
  cursor: grab;
  outline: none;
  background: none;
}
.range-slider > input:not(:only-of-type) {
  pointer-events: none;
}
.range-slider > input::-webkit-slider-thumb {
  appearance: none;
  border: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  pointer-events: auto;
  transition: 0.1s;
}
.range-slider > input::-moz-range-thumb {
  appearance: none;
  border: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  pointer-events: auto;
  transition: 0.1s;
}
.range-slider > input::-ms-thumb {
  appearance: none;
  border: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  pointer-events: auto;
  transition: 0.1s;
}
.range-slider > input:hover {
  --thumb-shadow: var(--thumb-shadow-hover);
}
.range-slider > input:hover + output {
  --value-background: var(--value-background-hover);
  --y-offset: -5px;
  color: var(--value-active-color);
  box-shadow: 0 0 0 3px var(--value-background);
}
.range-slider > input:active {
  --thumb-shadow: var(--thumb-shadow-active);
  cursor: grabbing;
  z-index: 2;
}
.range-slider > input:active + output {
  transition: 0s;
}
.range-slider > input:nth-of-type(1) {
  --is-left-most: Clamp(0, (var(--value-a) - var(--value-b)) * 99999 ,1);
}
.range-slider > input:nth-of-type(1) + output {
  --value: var(--value-a);
  --x-offset: calc(var(--completed-a) * -1%);
}
.range-slider > input:nth-of-type(1) + output:not(:only-of-type) {
  --flip: calc(var(--thumbs-too-close) * -1);
}
.range-slider > input:nth-of-type(1) + output::after {
  content: var(--prefix, "") var(--text-value-a) var(--suffix, "");
}
.range-slider > input:nth-of-type(2) {
  --is-left-most: Clamp(0, (var(--value-b) - var(--value-a)) * 99999 ,1);
}
.range-slider > input:nth-of-type(2) + output {
  --value: var(--value-b);
}
.range-slider > input:only-of-type ~ .range-slider__progress {
  --clip-start: 0;
}
.range-slider > input + output {
  --flip: -1;
  --x-offset: calc(var(--completed-b) * -1%);
  --pos: calc(((var(--value) - var(--min))/(var(--max) - var(--min))) * 100%);
  pointer-events: none;
  position: absolute;
  z-index: 5;
  background: var(--value-background);
  border-radius: 10px;
  padding: 2px 4px;
  left: var(--pos);
  transform: translate(var(--x-offset), calc(150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip)));
  transition: all 0.12s ease-out, left 0s;
}
.range-slider > input + output::after {
  content: var(--prefix, "") var(--text-value-b) var(--suffix, "");
  font: var(--value-font);
}

.base-btn, .skip-btn, .rate-btn, .lg-cursive-btn, .blue-btn, .white-btn, .grey-btn {
  cursor: pointer;
  font: calc(0.5rem + 0.375vw) "Catamaran", sans-serif;
  display: inline-block;
  transition: background-color 0.3s, opacity 0.3s, filter 0.3s;
  padding: 0.5em 1em;
  border-width: 0;
  border-radius: 0.3em;
  margin: 2px 2px;
}
.base-btn:hover, .skip-btn:hover, .rate-btn:hover, .lg-cursive-btn:hover, .blue-btn:hover, .white-btn:hover, .grey-btn:hover {
  text-decoration: none;
}
.base-btn:focus, .skip-btn:focus, .rate-btn:focus, .lg-cursive-btn:focus, .blue-btn:focus, .white-btn:focus, .grey-btn:focus {
  outline: none;
}
.base-btn:focus-visible, .skip-btn:focus-visible, .rate-btn:focus-visible, .lg-cursive-btn:focus-visible, .blue-btn:focus-visible, .white-btn:focus-visible, .grey-btn:focus-visible {
  outline: 5px auto black;
}

.grey-btn {
  background-color: hsl(0deg, 0%, 21%);
  color: white;
}
.grey-btn:hover {
  background-color: hsl(0deg, 0%, 43%);
  color: white;
}

.white-btn {
  background-color: white;
  color: black;
}
.white-btn:hover {
  background-color: rgb(224, 224, 224);
  color: black;
}

.blue-btn {
  background-color: hsl(222deg, 22%, 60%);
  color: white;
}
.blue-btn:hover {
  background-color: hsl(222deg, 22%, 48%);
  color: white;
}

.lg-cursive-btn {
  font: calc(0.7rem + 0.5vw) "Merienda", cursive;
  background-color: hsl(230deg, 49%, 29%);
  color: white;
  opacity: 0.8;
}
.lg-cursive-btn:hover {
  color: white;
  opacity: 1;
}

.score-slider {
  --fill-color: linear-gradient(to right, hsl(0, 65%, 81%), hsl(222, 22%, 60%));
  --thumb-size: 30px;
  --track-height: var(--thumb-size) / 3;
  width: 100%;
  display: block;
  margin: 2% 0 60px 0;
}
.score-slider output::after {
  font-size: 20px !important;
}

.answer-btns-container {
  display: flex;
  justify-content: center;
}

.skip-btn, .rate-btn {
  margin: 2px 10px;
}

.skip-btn {
  background-color: hsl(230deg, 49%, 29%);
  color: white;
}
.skip-btn:hover {
  filter: brightness(1.8);
}

.rate-btn {
  background-color: hsl(0deg, 65%, 81%);
  font-weight: 700 !important;
}
.rate-btn:hover {
  filter: brightness(1.2);
}

.centre-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.centre-modal-wrapper .centre-modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.centre-modal-wrapper .centre-modal {
  position: relative;
  display: inline-block;
  top: 25vh;
  left: 25vw;
  background-color: white;
  z-index: 10;
}
.centre-modal-wrapper .centre-modal > .close {
  position: absolute;
  top: 0;
  right: 0;
}

.prev-ans-item {
  display: inline-block;
  width: 200px;
  height: 300px;
}
.prev-ans-item img {
  width: 100%;
  object-fit: contain;
}

.rec-item {
  height: 300px;
  display: flex;
  align-items: center;
}
.rec-item > * {
  flex-basis: 20%;
}
.rec-item img {
  max-height: 100%;
  width: 20%;
  object-fit: contain;
}

/* Questions page queues. */
.queue-imgs {
  position: relative;
  left: 0px;
}

.queue-imgs > div {
  width: 20%;
  display: inline-block;
  position: relative;
  vertical-align: bottom;
}
.queue-imgs > div img {
  width: 100%;
  object-fit: contain;
}

.placeholder-img {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100%;
}
.placeholder-img span {
  color: white;
  position: absolute;
}

.queue-imgs div audio {
  position: absolute;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 1000;
  transition: opacity 1s;
}

.queue-imgs div:nth-child(2) {
  opacity: 0.15;
}

.queue-imgs div:nth-child(3) {
  opacity: 0.05;
}

.queue-imgs div:nth-child(4) {
  opacity: 0;
}

.queue-imgs div:nth-child(n+5) {
  display: none;
}

.queue-imgs div:nth-child(n+2) audio {
  opacity: 0;
  pointer-events: none;
}

/* Questions page queue transitions. */
.queue-imgs-transitioning {
  transition: 0.5s all;
  left: -20%;
}

.queue-imgs-transitioning div {
  transition: 0.5s all;
}

.queue-imgs-transitioning div:nth-child(1) {
  opacity: 0;
}

.queue-imgs-transitioning div:nth-child(2) {
  opacity: 1;
}

.queue-imgs-transitioning div:nth-child(3) {
  opacity: 0.15;
}

.queue-imgs-transitioning div:nth-child(4) {
  opacity: 0.05;
}

.queue-imgs-transitioning div:nth-child(2) audio {
  opacity: 1;
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .queue-imgs > div {
    width: 25%;
  }
  .queue-imgs-transitioning {
    left: -25%;
  }
}
.queue-input-panel {
  display: inline-block;
  margin: 40px 0;
}
.queue-input-panel > .border-box-content {
  padding: 15px;
}

.incl-prev-ans-label {
  font-size: calc(0.4rem + 0.3vw);
  white-space: nowrap;
  margin: 0;
}
.incl-prev-ans-label > input {
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 15px;
  height: 15px;
}

/* Mobile size. */
@media only screen and (max-width: 767px) {
  .queue-input-panel {
    margin: 15px 0;
  }
  .queue-input-panel > .border-box-content {
    padding: 7px 10px;
  }
  .incl-prev-ans-label > input {
    width: 10px;
    height: 10px;
  }
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid hsl(222deg, 22%, 60%);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid hsl(0deg, 65%, 81%);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form-group {
  padding-bottom: 15px;
}
.form-group > .form-control {
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
}
.form-group > label {
  font-weight: 600;
}

.border-box-wrapper {
  position: relative;
}

.border-box-content {
  display: inline-block;
  padding: 7%;
}

.borders {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.t-b-borders::before, .t-b-borders::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 95%);
}
.t-b-borders::after {
  bottom: 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 95%);
}

.l-r-borders::before, .l-r-borders::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 95%);
}
.l-r-borders::after {
  right: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 95%);
}

.full-page-content {
  display: inline-block;
  margin: 13vh auto auto 15vw;
  min-width: 25%;
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .full-page-content {
    display: block;
    margin: 20%;
  }
}
/* Mobile size. */
@media only screen and (max-width: 767px) {
  .full-page-content {
    display: block;
    margin: 10% 7%;
  }
}
nav {
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: hsl(0deg, 0%, 21%);
  height: 60px;
}
nav .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.nav-logo-img {
  height: 40px;
}

.nav-item.dropdown {
  display: inline-block;
  margin-right: 10px;
}

.nav-link.dropdown-toggle {
  color: white;
}
.nav-link.dropdown-toggle:hover {
  filter: brightness(0.8);
}

.nav-menu-btn-small {
  display: none;
}

/* Mobile size. */
@media only screen and (max-width: 767px) {
  nav {
    height: 40px;
  }
  .nav-logo-img {
    height: 25px;
  }
  .nav-menu-btn-normal {
    display: none;
  }
  .nav-menu-btn-small {
    display: inline-block;
  }
}
.draw-svg-path {
  transition: stroke-dashoffset 0.75s linear;
}

.svg-connects-wrapper {
  position: relative;
}

.connections-svg {
  width: 100%;
  height: 100%;
}
.connections-svg path {
  stroke: hsl(0deg, 0%, 43%);
  fill: none;
  stroke-width: calc(0.5px + 0.05vw);
}

.connect-elem {
  position: absolute;
}

.back-btns-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 5vh 5vh 0;
}

.home-content {
  width: 70%;
  height: 40vh;
  margin: 30vh auto;
}
.home-content hr {
  margin: 30px 0;
}

.home-logo {
  padding: 0 0 35px 0;
  width: calc(220px + 15vw);
}

.home-blurb {
  color: hsl(222deg, 22%, 60%);
}

/* Mobile size. */
@media only screen and (max-width: 767px) {
  .register-content {
    display: block;
    margin: 15% 7%;
  }
}
.loc-details {
  padding: 6% 0 4% 0;
}

.loc-detail-wrapper {
  padding: 2% 0;
}
.loc-detail-wrapper > * {
  vertical-align: top;
  color: hsl(0deg, 0%, 43%);
}
.loc-detail-wrapper span {
  padding-right: 20px;
  font-weight: 600;
}
.loc-detail-wrapper > textarea {
  overflow: auto;
  resize: none;
}

.loc-detail {
  background-color: hsl(52deg, 82%, 83%);
  border: 0;
  width: 70%;
}

.profile-svg-connects {
  width: 100%;
  height: calc(100vh - 60px);
}

.qs-btn {
  left: 50%;
  top: 15%;
  transform: translate(-50%, -150%);
}
.qs-btn::after {
  content: "";
  position: absolute;
  left: calc(-1 * -50%);
  top: calc(-1 * -150%);
}

.kindred-btn {
  left: 25%;
  top: 45%;
  transform: translate(-110%, -50%);
}
.kindred-btn::after {
  content: "";
  position: absolute;
  left: calc(-1 * -110%);
  top: calc(-1 * -50%);
}

.recs-btn {
  right: 25%;
  bottom: 30%;
  transform: translate(50%, 150%);
}
.recs-btn::after {
  content: "";
  position: absolute;
  right: calc(1 * 50%);
  bottom: calc(1 * 150%);
}

.admin-btn {
  pointer-events: all;
  position: absolute;
  top: 10%;
}

/* Mobile size. */
@media only screen and (max-width: 767px) {
  .profile-svg-connects {
    width: 100%;
    height: calc(100vh - 40px);
  }
  .kindred-btn {
    left: 25%;
    top: 45%;
    transform: translate(-60%, -50%);
  }
  .kindred-btn::after {
    content: "";
    position: absolute;
    left: calc(-1 * -60%);
    top: calc(-1 * -50%);
  }
  .recs-btn {
    right: 25%;
    bottom: 30%;
    transform: translate(40%, 150%);
  }
  .recs-btn::after {
    content: "";
    position: absolute;
    right: calc(1 * 40%);
    bottom: calc(1 * 150%);
  }
}
.questions-menu-content {
  width: 45%;
  margin: 50px 0 100px 20%;
}

.q-menu-heading {
  font-size: calc(1.2rem + 0.9vw);
  margin-bottom: 20px;
}

.q-menu-cat-group {
  margin-bottom: 8vh;
}
.q-menu-cat-group .blue-btn {
  font-size: calc(0.6rem + 0.45vw);
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .questions-menu-content {
    width: 70%;
    margin-left: 15%;
  }
}
/* Mobile size. */
@media only screen and (max-width: 767px) {
  .questions-menu-content {
    width: 80%;
    margin-left: 10%;
  }
}
.questions-content {
  width: 45%;
  margin: 2% 0 2% 20%;
}
.questions-content > .border-box-wrapper {
  background-color: rgba(255, 255, 255, 0.7);
}
.questions-content .main-header {
  margin-bottom: 5%;
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .questions-content {
    width: 70%;
    margin: 5% 15%;
  }
}
/* Mobile size. */
@media only screen and (max-width: 767px) {
  .questions-content {
    width: 90%;
    margin: 5%;
  }
}

/*# sourceMappingURL=styles.css.map */
