/* General. */
* {
  font-family: "Catamaran", sans-serif;
}

html {
  height: 100%;
}

body {
  background: radial-gradient(circle at 0% 0%, hsl(52deg, 82%, 83%) 0%, hsl(52deg, 82%, 83%) 35%, hsl(52deg, 82%, 96%) 100%) no-repeat fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0) 100%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merienda", cursive;
  color: hsl(0deg, 0%, 21%);
}

h1 {
  font-weight: 700;
  font-size: calc(2rem + 1.5vw);
}

h2 {
  font-weight: 500;
  font-size: calc(1.6rem + 1.2vw);
}

h3 {
  font-weight: 500;
  font-size: calc(1.2rem + 0.9vw);
}

h4 {
  font-size: calc(0.8rem + 0.6vw);
}

.fade-trans {
  transition: opacity 0.3s;
}

.centre-content-h, .curr-question-div {
  display: flex;
  justify-content: center;
}

.pos-rel {
  position: relative;
}

.transparent {
  opacity: 0 !important;
}

.hidden {
  visibility: hidden !important;
}

.fully-hidden {
  display: none !important;
}

.page-heading {
  margin-bottom: 8%;
}

.pre-footer {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.white-fade {
  background-image: linear-gradient(to top right, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 0.7) 80%, rgba(255, 255, 255, 0) 95%);
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .register-content {
    display: block;
    margin: 20%;
  }
}
/* Mobile size. */
@media only screen and (max-width: 767px) {
  .register-content {
    display: block;
    margin: 15% 7%;
  }
}
.range-slider {
  --primary-color: #0366D6;
  --value-offset-y: var(--ticks-gap);
  --value-active-color: white;
  --value-background: transparent;
  --value-background-hover: var(--primary-color);
  --value-font: 700 12px/1 Arial;
  --fill-color: var(--primary-color);
  --progress-background: #EEE;
  --progress-radius: 20px;
  --track-height: calc(var(--thumb-size)/2);
  --min-max-font: 12px Arial;
  --min-max-opacity: .5;
  --min-max-x-offset: 10%;
  --thumb-size: 22px;
  --thumb-color: white;
  --thumb-shadow: 0 0 3px rgba(0,0,0,.4),
                  0 0 1px rgba(0,0,0,.5) inset,
                  0 0 0 99px var(--thumb-color) inset;
  --thumb-shadow-active: 0 0 0 calc(var(--thumb-size)/4) inset var(--thumb-color),
                         0 0 0 99px var(--primary-color) inset,
                         0 0 3px rgba(0,0,0,.4);
  --thumb-shadow-hover: var(--thumb-shadow);
  --ticks-thickness: 1px;
  --ticks-height: 5px;
  --ticks-gap: var(--ticks-height, 0);
  --ticks-color: silver;
  --step: 1;
  --ticks-count: (var(--max) - var(--min)) / var(--step);
  --maxTicksAllowed: 30;
  --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
  --x-step: Max( var(--step), var(--too-many-ticks) * (var(--max) - var(--min)) );
  --tickIntervalPerc_1: Calc( (var(--max) - var(--min)) / var(--x-step) );
  --tickIntervalPerc: calc( (100% - var(--thumb-size))/var(--tickIntervalPerc_1) * var(--tickEvery, 1) );
  --value-a: Clamp(var(--min), var(--value, 0), var(--max));
  --value-b: var(--value, 0);
  --text-value-a: var(--text-value, "");
  --completed-a: calc((var(--value-a) - var(--min) ) / (var(--max) - var(--min)) * 100);
  --completed-b: calc((var(--value-b) - var(--min) ) / (var(--max) - var(--min)) * 100);
  --ca: Min(var(--completed-a), var(--completed-b));
  --cb: Max(var(--completed-a), var(--completed-b));
  --thumbs-too-close: Clamp(
    -1,
    1000 * (Min(1, Max(var(--cb) - var(--ca) - 5, -1)) + 0.001),
    1
  );
  --thumb-close-to-min: Min(1, Max(var(--ca) - 5, 0));
  --thumb-close-to-max: Min(1, Max(95 - var(--cb), 0));
  box-sizing: content-box;
  display: inline-block;
  height: max(var(--track-height), var(--thumb-size));
  background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
  background-size: var(--tickIntervalPerc) var(--ticks-height);
  background-position-x: calc(var(--thumb-size) / 2 - var(--ticks-thickness) / 2);
  background-position-y: var(--flip-y, bottom);
  padding-bottom: var(--flip-y, var(--ticks-gap));
  padding-top: calc(var(--flip-y) * var(--ticks-gap));
  position: relative;
  z-index: 1;
}
.range-slider[data-ticks-position=top] {
  --flip-y: 1;
}
.range-slider::before, .range-slider::after {
  --offset: calc(var(--thumb-size)/2);
  content: counter(x);
  display: var(--show-min-max, block);
  font: var(--min-max-font);
  position: absolute;
  bottom: var(--flip-y, -2.5ch);
  top: calc(-2.5ch * var(--flip-y));
  opacity: clamp(0, var(--at-edge), var(--min-max-opacity));
  transform: translateX(calc(var(--min-max-x-offset) * var(--before, -1) * -1)) scale(var(--at-edge));
  pointer-events: none;
}
.range-slider::before {
  --before: 1;
  --at-edge: var(--thumb-close-to-min);
  counter-reset: x var(--min);
  left: var(--offset);
}
.range-slider::after {
  --at-edge: var(--thumb-close-to-max);
  counter-reset: x var(--max);
  right: var(--offset);
}
.range-slider__values {
  position: relative;
  top: 50%;
  line-height: 0;
  text-align: justify;
  width: 100%;
  pointer-events: none;
  margin: 0 auto;
  z-index: 5;
}
.range-slider__values::after {
  content: "";
  width: 100%;
  display: inline-block;
  height: 0;
  background: red;
}
.range-slider__progress {
  --start-end: calc(var(--thumb-size)/2);
  --clip-end: calc(100% - (var(--cb) ) * 1%);
  --clip-start: calc(var(--ca) * 1%);
  --clip: inset(-20px var(--clip-end) -20px var(--clip-start));
  position: absolute;
  left: var(--start-end);
  right: var(--start-end);
  top: calc(var(--ticks-gap) * var(--flip-y, 0) + var(--thumb-size) / 2 - var(--track-height) / 2);
  height: calc(var(--track-height));
  background: var(--progress-background, #EEE);
  pointer-events: none;
  z-index: -1;
  border-radius: var(--progress-radius);
}
.range-slider__progress::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  clip-path: var(--clip);
  top: 0;
  bottom: 0;
  background: var(--fill-color, black);
  box-shadow: var(--progress-flll-shadow);
  z-index: 1;
  border-radius: inherit;
}
.range-slider__progress::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: var(--progress-shadow);
  pointer-events: none;
  border-radius: inherit;
}
.range-slider > input {
  -webkit-appearance: none;
  width: 100%;
  height: var(--thumb-size);
  margin: 0;
  position: absolute;
  left: 0;
  top: calc(50% - max(var(--track-height), var(--thumb-size)) / 2 + var(--ticks-gap) / 2 * var(--flip-y, -1));
  cursor: -webkit-grab;
  cursor: grab;
  outline: none;
  background: none;
}
.range-slider > input:not(:only-of-type) {
  pointer-events: none;
}
.range-slider > input::-webkit-slider-thumb {
  appearance: none;
  border: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  pointer-events: auto;
  transition: 0.1s;
}
.range-slider > input::-moz-range-thumb {
  appearance: none;
  border: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  pointer-events: auto;
  transition: 0.1s;
}
.range-slider > input::-ms-thumb {
  appearance: none;
  border: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  transform: var(--thumb-transform);
  border-radius: var(--thumb-radius, 50%);
  background: var(--thumb-color);
  box-shadow: var(--thumb-shadow);
  pointer-events: auto;
  transition: 0.1s;
}
.range-slider > input:hover {
  --thumb-shadow: var(--thumb-shadow-hover);
}
.range-slider > input:hover + output {
  --value-background: var(--value-background-hover);
  --y-offset: -5px;
  color: var(--value-active-color);
  box-shadow: 0 0 0 3px var(--value-background);
}
.range-slider > input:active {
  --thumb-shadow: var(--thumb-shadow-active);
  cursor: grabbing;
  z-index: 2;
}
.range-slider > input:active + output {
  transition: 0s;
}
.range-slider > input:nth-of-type(1) {
  --is-left-most: Clamp(0, (var(--value-a) - var(--value-b)) * 99999 ,1);
}
.range-slider > input:nth-of-type(1) + output {
  --value: var(--value-a);
  --x-offset: calc(var(--completed-a) * -1%);
}
.range-slider > input:nth-of-type(1) + output:not(:only-of-type) {
  --flip: calc(var(--thumbs-too-close) * -1);
}
.range-slider > input:nth-of-type(1) + output::after {
  content: var(--prefix, "") var(--text-value-a) var(--suffix, "");
}
.range-slider > input:nth-of-type(2) {
  --is-left-most: Clamp(0, (var(--value-b) - var(--value-a)) * 99999 ,1);
}
.range-slider > input:nth-of-type(2) + output {
  --value: var(--value-b);
}
.range-slider > input:only-of-type ~ .range-slider__progress {
  --clip-start: 0;
}
.range-slider > input + output {
  --flip: -1;
  --x-offset: calc(var(--completed-b) * -1%);
  --pos: calc(((var(--value) - var(--min))/(var(--max) - var(--min))) * 100%);
  pointer-events: none;
  position: absolute;
  z-index: 5;
  background: var(--value-background);
  border-radius: 10px;
  padding: 2px 4px;
  left: var(--pos);
  transform: translate(var(--x-offset), calc(150% * var(--flip) - (var(--y-offset, 0px) + var(--value-offset-y)) * var(--flip)));
  transition: all 0.12s ease-out, left 0s;
}
.range-slider > input + output::after {
  content: var(--prefix, "") var(--text-value-b) var(--suffix, "");
  font: var(--value-font);
}

.base-btn, .skip-btn, .rate-btn, .lg-cursive-btn, .blue-btn, .white-btn, .grey-btn, .search-btn {
  cursor: pointer;
  font: calc(0.5rem + 0.375vw) "Catamaran", sans-serif;
  display: inline-block;
  transition: background-color 0.3s, opacity 0.3s, filter 0.3s;
  padding: 0.5em 1em;
  border-width: 0;
  border-radius: 0.3em;
  margin: 0.4em;
}
.base-btn:focus, .skip-btn:focus, .rate-btn:focus, .lg-cursive-btn:focus, .blue-btn:focus, .white-btn:focus, .grey-btn:focus, .search-btn:focus {
  outline: none;
}
.base-btn:focus-visible, .skip-btn:focus-visible, .rate-btn:focus-visible, .lg-cursive-btn:focus-visible, .blue-btn:focus-visible, .white-btn:focus-visible, .grey-btn:focus-visible, .search-btn:focus-visible {
  outline: 5px auto black;
}
.base-btn:hover, .skip-btn:hover, .rate-btn:hover, .lg-cursive-btn:hover, .blue-btn:hover, .white-btn:hover, .grey-btn:hover, .search-btn:hover {
  text-decoration: none;
}

.grey-btn, .search-btn {
  background-color: hsl(0deg, 0%, 21%);
  color: white;
}
.grey-btn:hover, .search-btn:hover {
  background-color: hsl(0deg, 0%, 43%);
  color: white;
}

.white-btn {
  background-color: white;
  color: black;
}
.white-btn:hover {
  background-color: rgb(224, 224, 224);
  color: black;
}

.blue-btn {
  background-color: hsl(222deg, 22%, 60%);
  color: white;
}
.blue-btn:hover {
  background-color: hsl(222deg, 22%, 48%);
  color: white;
}

.lg-cursive-btn {
  font: calc(0.7rem + 0.5vw) "Merienda", cursive;
  background-color: hsl(230deg, 49%, 29%);
  color: white;
  opacity: 0.8;
}
.lg-cursive-btn:hover {
  color: white;
  opacity: 1;
}

.info-btn {
  position: absolute;
  bottom: 8%;
  right: 5%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.info-btn:focus {
  outline: none;
}
.info-btn:focus-visible {
  outline: 5px auto black;
}
.info-btn i {
  font-size: calc(0.6rem + 0.45vw);
  color: hsl(0deg, 0%, 21%);
  transition: color 0.3s;
}
.info-btn:hover > i {
  color: hsl(0deg, 0%, 65%);
}

.info-txt {
  position: absolute;
  bottom: 0;
  right: 0;
  transition: opacity 0.3s;
  background-color: hsl(0deg, 0%, 21%);
  color: white;
  font-size: calc(0.4rem + 0.3vw);
  border-radius: 0.7em;
  max-width: max-content;
  width: max(200px, 15vw);
  padding: 1em;
  transform: translate(-2em, -2em);
  text-align: start;
}

.info-txt-right {
  right: auto;
  left: 0;
}

.header-row-info-btn {
  bottom: -1em;
  left: 0;
  right: auto;
}
.header-row-info-btn > i {
  font-size: calc(0.4rem + 0.3vw);
}

.curr-question-div {
  margin: 2% 0;
}

.curr-question {
  font-size: calc(0.7rem + 0.5vw);
  font-weight: 700;
}

.curr-ans-msg {
  margin-right: 10px;
}

.prev-ans-info {
  font-size: calc(0.5rem + 0.375vw);
}

.prev-ans-val {
  font-weight: 700;
}

.score-slider {
  --value-font: 700 12px/1 "Catamaran";
  --min-max-font: 12px "Catamaran";
  --fill-color: linear-gradient(to right, hsl(0, 65%, 81%), hsl(222, 22%, 60%));
  --primary-color: hsl(222, 22%, 48%);
  --thumb-size: 30px;
  --track-height: var(--thumb-size) / 3;
  width: 100%;
  display: block;
  margin: 50px 0 6% 0;
}
.score-slider output::after {
  font-size: 20px !important;
}

.answer-btns-container {
  display: flex;
  justify-content: center;
}

.skip-btn, .rate-btn {
  padding: 1em 2em;
  margin: 2px 10px;
  font-size: calc(0.6rem + 0.45vw);
}

.skip-btn {
  background-color: hsl(230deg, 49%, 29%);
  color: white;
}
.skip-btn:hover {
  filter: brightness(1.5);
}

.rate-btn {
  background-color: hsl(0deg, 65%, 81%);
  font-weight: 700 !important;
}
.rate-btn:hover {
  filter: brightness(1.2);
}

.centre-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centre-modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.centre-modal {
  position: relative;
  width: 30%;
  padding: 2%;
  background-color: hsl(0deg, 0%, 92%);
  border-radius: 10px;
  z-index: 10;
}
.centre-modal > .close {
  position: absolute;
  top: 3%;
  right: 4%;
}
.centre-modal > .close:focus {
  outline: none;
}
.centre-modal > .close:focus-visible {
  outline: 5px auto black;
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .centre-modal {
    width: 50%;
  }
}
/* Mobile size. */
@media only screen and (max-width: 767px) {
  .centre-modal {
    width: 70%;
  }
}
.recommendations-list .header-row {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  column-gap: 5%;
}

.rec-item {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  column-gap: 5%;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}
.rec-item p {
  font-size: calc(0.5rem + 0.375vw);
  margin: 0;
}
.rec-item .user-score {
  font-size: calc(0.8rem + 0.6vw);
  font-weight: 700;
}
.rec-item .q-source-img-wrapper {
  aspect-ratio: 0.666;
}
.rec-item audio {
  width: max(100px, 20%);
  height: max(15px, 12%);
  position: absolute;
  bottom: 15%;
  left: 35%;
  opacity: 0.6;
}

.prev-answers-list > .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-auto-rows: 310px;
  justify-content: space-around;
  column-gap: 10px;
  row-gap: 10px;
}

.q-source-img-wrapper {
  position: relative;
}
.q-source-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
.q-source-img-wrapper .placeholder-img {
  cursor: pointer;
  width: 100%;
}
.q-source-img-wrapper:hover .q-source-item-hover {
  opacity: 1;
}

.q-source-item-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.q-source-item-hover > span {
  font-size: 20px;
}

.q-source-hover-txt {
  color: white;
}

.prev-ans-item {
  position: relative;
}
.prev-ans-item .q-source-img-wrapper {
  height: 225px;
}
.prev-ans-item p {
  margin: 0;
  font-size: 14px;
}
.prev-ans-item .user-score {
  font-weight: 700;
}
.prev-ans-item .q-text {
  max-height: 60px;
  overflow: hidden;
}
.prev-ans-item audio {
  width: 100%;
  height: 12%;
  position: absolute;
  top: 0;
  opacity: 0.6;
}

/* Small mobile size. */
@media only screen and (max-width: 410px) {
  .prev-answers-list > .content {
    grid-template-columns: repeat(auto-fill, 125px);
    grid-auto-rows: 270px;
    column-gap: 10px;
    row-gap: 10px;
  }
  .prev-ans-item .q-source-img-wrapper {
    height: 188px;
  }
}
/* Questions page queues. */
.queue-imgs {
  position: relative;
  left: 0px;
}

.queue-imgs > div {
  width: 20%;
  aspect-ratio: 0.666;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  vertical-align: bottom;
}
.queue-imgs > div img {
  width: 100%;
  object-fit: contain;
}
.queue-imgs > div audio {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 100px;
  height: 16%;
  z-index: 11;
  transition: opacity 1s;
}

.placeholder-img {
  display: inline-block;
  background-color: black;
  position: relative;
  width: 100%;
  height: 100%;
}
.placeholder-img span {
  color: white;
  position: absolute;
}

.queue-imgs div:nth-child(2) {
  opacity: 0.1;
}

.queue-imgs div:nth-child(3) {
  opacity: 0.05;
}

.queue-imgs div:nth-child(4) {
  opacity: 0;
}

.queue-imgs div:nth-child(n+5) {
  display: none;
}

.queue-imgs div:nth-child(n+2) audio {
  opacity: 0;
  pointer-events: none;
}

/* Questions page queue transitions. */
.queue-imgs-transitioning {
  transition: 0.5s all;
  left: -20%;
}

.queue-imgs-transitioning div {
  transition: 0.5s all;
}

.queue-imgs-transitioning div:nth-child(1) {
  opacity: 0;
}

.queue-imgs-transitioning div:nth-child(2) {
  opacity: 1;
}

.queue-imgs-transitioning div:nth-child(3) {
  opacity: 0.1;
}

.queue-imgs-transitioning div:nth-child(4) {
  opacity: 0.05;
}

.queue-imgs-transitioning div:nth-child(2) audio {
  opacity: 1;
}

.centre-modal .queue-imgs {
  display: flex;
  justify-content: center;
  transform: translateX(0) !important;
}
.centre-modal .queue-imgs > div {
  width: 25%;
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .queue-imgs > div {
    width: 25%;
  }
  .queue-imgs-transitioning {
    left: -25%;
  }
}
.queue-input-panel {
  display: inline-block;
  margin-bottom: 10%;
}
.queue-input-panel > .border-box-content {
  padding: 15px;
}

.incl-prev-ans-label {
  font-size: calc(0.4rem + 0.3vw);
  white-space: nowrap;
  margin: 0;
}
.incl-prev-ans-label > input {
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 15px;
  height: 15px;
}

.search-div {
  white-space: nowrap;
  display: inline-block;
  margin-right: 50px;
}
.search-div input {
  font-size: calc(0.6rem + 0.45vw);
}

.search-btn {
  font-size: calc(0.5rem + 0.375vw);
  padding: 0.35em 1em;
}

/* Mobile size. */
@media only screen and (max-width: 767px) {
  .queue-input-panel > .border-box-content {
    padding: 7px 10px;
  }
  .incl-prev-ans-label > input {
    width: 10px;
    height: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .search-div {
    margin-right: 0;
  }
}
.q-mode-selector {
  font-size: 0;
}
.q-mode-selector > button:nth-last-child(1) {
  border-bottom-right-radius: 8px;
}

.q-mode-btn {
  margin: 0;
  padding: 0.6em 1.5em;
  border: none;
  font-size: calc(0.5rem + 0.375vw);
  background-image: linear-gradient(to bottom, hsl(222deg, 22%, 70%), hsl(222deg, 22%, 70%) 50%, hsl(222deg, 22%, 95%));
  transition: color 0.3s, background-image 0.3s;
}
.q-mode-btn:hover {
  cursor: pointer;
  color: white;
}
.q-mode-btn:focus {
  outline: none;
}
.q-mode-btn:focus-visible {
  outline: 5px auto black;
}

.active-q-mode {
  background-image: linear-gradient(to bottom, hsl(222deg, 22%, 95%), hsl(222deg, 22%, 85%) 50%, rgba(255, 255, 255, 0) 100%);
  font-weight: 700;
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .q-mode-selector > button:nth-last-child(1) {
    border-bottom-right-radius: 6px;
  }
}
/* Mobile size. */
@media only screen and (max-width: 767px) {
  .q-mode-selector > button:nth-last-child(1) {
    border-bottom-right-radius: 5px;
  }
}
.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  border-top: 7px solid hsl(222deg, 22%, 60%);
  border-right: 7px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 7px solid hsl(0deg, 65%, 81%);
  border-right: 7px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form-group {
  padding-bottom: 15px;
}
.form-group > .form-control {
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
}
.form-group > label {
  font-weight: 600;
}

.border-box-wrapper, .inline-border-box-wrapper {
  position: relative;
}

.inline-border-box-wrapper {
  display: inline-block;
}

.border-box-content {
  display: block;
  padding: 7%;
}

.borders {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.t-b-borders::before, .t-b-borders::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 95%);
}
.t-b-borders::after {
  bottom: 0;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 95%);
}

.l-r-borders::before, .l-r-borders::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 95%);
}
.l-r-borders::after {
  right: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 95%);
}

.full-page-content {
  display: inline-block;
  margin: 13vh auto auto 15vw;
  min-width: 25%;
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .full-page-content {
    display: block;
    margin: 20%;
  }
}
/* Mobile size. */
@media only screen and (max-width: 767px) {
  .full-page-content {
    display: block;
    margin: 10% 7%;
  }
}
nav {
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: hsl(0deg, 0%, 21%);
  height: 60px;
}
nav .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.nav-logo-img {
  height: 40px;
}

.nav-item.dropdown {
  display: inline-block;
  margin-right: 10px;
}

.nav-link.dropdown-toggle {
  color: white;
}
.nav-link.dropdown-toggle:hover {
  filter: brightness(0.8);
}

.nav-menu-btn-small {
  display: none;
}

/* Mobile size. */
@media only screen and (max-width: 767px) {
  nav {
    height: 40px;
  }
  .nav-logo-img {
    height: 25px;
  }
  .nav-menu-btn-normal {
    display: none;
  }
  .nav-menu-btn-small {
    display: inline-block;
  }
}
.draw-svg-path {
  transition: stroke-dashoffset 0.75s linear;
}

.svg-connects-wrapper {
  position: relative;
}

.connections-svg {
  width: 100%;
  height: 100%;
}
.connections-svg path {
  stroke: hsl(0deg, 0%, 43%);
  fill: none;
  stroke-width: calc(0.5px + 0.05vw);
}

.connect-elem {
  position: absolute;
}

.back-btns-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 5vh 5vh 0;
}

.page-content {
  width: 40%;
  min-height: 60%;
  margin: 2% 0 2% 20%;
}
.page-content .main-header {
  margin-bottom: 3%;
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .page-content {
    width: 70%;
    margin: 5% 15%;
  }
  .page-content > .inline-border-box-wrapper {
    display: block;
  }
  .page-content > .inline-border-box-wrapper > .border-box-content {
    display: block;
  }
}
/* Mobile size. */
@media only screen and (max-width: 767px) {
  .page-content {
    width: 90%;
    margin: 5%;
  }
}
.cat-checks-header {
  font-family: "Catamaran", sans-serif;
}

.category-type-group > label {
  font-size: calc(0.5rem + 0.375vw);
  font-weight: 300;
  margin: 0 2em 0 0;
}
.category-type-group > label > input {
  width: 18px;
  aspect-ratio: 1;
  margin-left: 7px;
  vertical-align: middle;
}

.category-type-group:nth-last-child(1) {
  margin-top: 3%;
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .category-type-group > label > input {
    width: 12px;
  }
}
/* Mobile size. */
@media only screen and (max-width: 767px) {
  .category-type-group > label > input {
    width: 10px;
  }
}
.header-row div {
  display: flex;
  align-items: flex-start;
}
.header-row > span, .header-row > div > span {
  font-size: calc(0.5rem + 0.375vw);
  font-weight: 700;
  color: hsl(0deg, 0%, 43%);
}

.home-content {
  width: 70%;
  height: 40vh;
  margin: 30vh auto;
}
.home-content hr {
  margin: 30px 0;
}

.home-logo {
  padding: 0 0 35px 0;
  width: calc(220px + 15vw);
}

.home-blurb {
  color: hsl(222deg, 22%, 60%);
}

/* Mobile size. */
@media only screen and (max-width: 767px) {
  .register-content {
    display: block;
    margin: 15% 7%;
  }
}
.loc-details {
  padding: 6% 0 4% 0;
}

.loc-detail-wrapper {
  padding: 2% 0;
}
.loc-detail-wrapper > * {
  vertical-align: top;
  color: hsl(0deg, 0%, 43%);
}
.loc-detail-wrapper span {
  padding-right: 20px;
  font-weight: 600;
}
.loc-detail-wrapper > textarea {
  overflow: auto;
  resize: none;
}

.loc-detail {
  background-color: hsl(52deg, 82%, 83%);
  border: 0;
  width: 70%;
}

.profile-svg-connects {
  width: 100%;
  height: calc(100vh - 60px);
}

.qs-btn {
  left: 50%;
  top: 15%;
  transform: translate(-50%, -150%);
}
.qs-btn::after {
  content: "";
  position: absolute;
  left: calc(-1 * -50%);
  top: calc(-1 * -150%);
}

.kindred-btn {
  left: 25%;
  top: 45%;
  transform: translate(-110%, -50%);
}
.kindred-btn::after {
  content: "";
  position: absolute;
  left: calc(-1 * -110%);
  top: calc(-1 * -50%);
}

.recs-btn {
  right: 25%;
  bottom: 30%;
  transform: translate(50%, 150%);
}
.recs-btn::after {
  content: "";
  position: absolute;
  right: calc(1 * 50%);
  bottom: calc(1 * 150%);
}

.admin-btn {
  pointer-events: all;
  position: absolute;
  top: 10%;
}

/* Mobile size. */
@media only screen and (max-width: 767px) {
  .profile-svg-connects {
    width: 100%;
    height: calc(100vh - 40px);
  }
  .kindred-btn {
    left: 25%;
    top: 45%;
    transform: translate(-60%, -50%);
  }
  .kindred-btn::after {
    content: "";
    position: absolute;
    left: calc(-1 * -60%);
    top: calc(-1 * -50%);
  }
  .recs-btn {
    right: 25%;
    bottom: 30%;
    transform: translate(40%, 150%);
  }
  .recs-btn::after {
    content: "";
    position: absolute;
    right: calc(1 * 40%);
    bottom: calc(1 * 150%);
  }
}
.questions-menu-content {
  width: 45%;
  margin: 5% 0 0 20%;
}

.q-menu-heading {
  font-size: calc(1.2rem + 0.9vw);
  margin-bottom: 20px;
}

.q-menu-cat-group {
  margin-bottom: 8vh;
}
.q-menu-cat-group .blue-btn {
  font-size: calc(0.6rem + 0.45vw);
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .questions-menu-content {
    width: 70%;
    margin-left: 15%;
  }
}
/* Mobile size. */
@media only screen and (max-width: 767px) {
  .questions-menu-content {
    width: 80%;
    margin-left: 10%;
  }
}
.questions-content > .border-box-wrapper {
  background-image: linear-gradient(to top right, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 0.7) 80%, rgba(255, 255, 255, 0) 95%);
}
.questions-content .queue-imgs {
  transform: translateX(20%);
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .queue-imgs {
    transform: translateX(12.5%) !important;
  }
}
.rec-input-container {
  margin-bottom: 10%;
}

.cat-selects .border-box-wrapper {
  background-image: linear-gradient(to top right, rgba(255, 255, 255, 0) 5%, rgba(255, 255, 255, 0.7) 20%, rgba(255, 255, 255, 0.7) 80%, rgba(255, 255, 255, 0) 95%);
  margin-bottom: 7%;
}

.recs-input-heading {
  font-size: calc(0.8rem + 0.6vw);
  font-family: "Catamaran", sans-serif;
  text-align: center;
  margin-bottom: 3%;
  color: hsl(0deg, 0%, 21%);
}

.recs-header {
  font-size: calc(1.6rem + 1.2vw);
  margin-bottom: 5% !important;
}

.kindred-recs-btn {
  font-size: calc(0.6rem + 0.45vw);
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
  .kindred-recs-btn {
    margin-top: 6%;
  }
  .recs-header {
    margin-bottom: 5% !important;
  }
}
.kindred-input-container {
  margin-bottom: 10%;
}

.kindred-list .header-row {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  column-gap: 5%;
}

.kindred-item {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  column-gap: 5%;
  align-items: center;
  margin-bottom: 20px;
}
.kindred-item p {
  font-size: calc(0.5rem + 0.375vw);
  margin: 0;
}
.kindred-item .sim-score {
  font-size: calc(0.8rem + 0.6vw);
  font-weight: 700;
}

.error-content h1 {
  margin-top: 0.5em;
  color: hsl(222deg, 22%, 60%);
}
.error-content h3 {
  margin-bottom: 0.5em;
}

/*# sourceMappingURL=styles.css.map */
