:root {
  --2nd-queue-transp: 0.6;
  --3rd-queue-transp: 0.3;
}


body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.hidden {
  visibility: hidden;
}

.fully-hidden {
  display: none;
}





.queue-imgs {
  position: relative;
  left: 0px;
  
  /* transition: 0.5s all; */
}

.queue-imgs img {
  width: 120px;
  height: 180px;
  
  /* transition: 0.5s all; */
}

.queue-imgs img:nth-child(2) {
  opacity: var(--2nd-queue-transp);
}

.queue-imgs img:nth-child(3) {
  opacity: var(--3rd-queue-transp);
}

.queue-imgs img:nth-child(4) {
  opacity: 0;
}

.queue-imgs img:nth-child(n + 5) {
  display: none;
}





.queue-imgs-transitioning {
  transition: 0.5s all;
  left: -120px;
}

.queue-imgs-transitioning img {
  transition: 0.5s all;
}

.queue-imgs-transitioning img:nth-child(1) {
  opacity: 0;
}
.queue-imgs-transitioning img:nth-child(2) {
  opacity: 1;
}
.queue-imgs-transitioning img:nth-child(3) {
  opacity: var(--2nd-queue-transp);
}
.queue-imgs-transitioning img:nth-child(4) {
  opacity: var(--3rd-queue-transp);
}