@use "../../abstracts/variables" as vars;



/* Questions page queues. */
$num2-queue-transp: 0.1;
$num3-queue-transp: 0.05;

.queue-imgs {
    position: relative;
    left: 0px;
}
  
.queue-imgs > div {
    width: 20%;
    aspect-ratio: 0.666;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    vertical-align: bottom;

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    audio {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        min-width: 100px;
        height: 16%;
        z-index: 11;
        transition: opacity 1s;
    }
}
  
.placeholder-img {
    display: inline-block;
    background-color: black;
    position: relative;
    width: 100%;
    height: 100%;

    span {
        color: white;
        position: absolute;
    }
}
  
.queue-imgs div:nth-child(2) {
    opacity: $num2-queue-transp;
}
  
.queue-imgs div:nth-child(3) {
    opacity: $num3-queue-transp;
}
  
.queue-imgs div:nth-child(4) {
    opacity: 0;
}
  
.queue-imgs div:nth-child(n + 5) {
    display: none;
}
  
.queue-imgs div:nth-child(n + 2) audio {
    opacity: 0;
    pointer-events: none;
}
  
/* Questions page queue transitions. */
.queue-imgs-transitioning {
    transition: 0.5s all;
    left: -20%;
}
  
.queue-imgs-transitioning div {
    transition: 0.5s all;
}
  
.queue-imgs-transitioning div:nth-child(1) {
    opacity: 0;
}
.queue-imgs-transitioning div:nth-child(2) {
    opacity: 1;
}
.queue-imgs-transitioning div:nth-child(3) {
    opacity: $num2-queue-transp;
}
.queue-imgs-transitioning div:nth-child(4) {
    opacity: $num3-queue-transp;
}
  
.queue-imgs-transitioning div:nth-child(2) audio {
    opacity: 1;
}

// Modal version of queue images.
.centre-modal .queue-imgs {
    display: flex;
    justify-content: center;
    transform: translateX(0) !important;

    > div {
        width: 25%;
    }
}

/* Tablet up to desktop size. */
@media only screen and (max-width: vars.$tabletWidth) {
    .queue-imgs > div {
        width: 25%;
    }

    .queue-imgs-transitioning {
        left: -25%;
    }
}