@use "../../abstracts/variables" as vars;
@use "../buttons";


// Auto mode
.queue-input-panel {
    display: inline-block;
    margin-bottom: 10%;

    > .border-box-content {
        padding: 15px;
    }
}

.incl-prev-ans-label {
    font-size: vars.$fontSize8;
    white-space: nowrap;
    margin: 0;

    > input {
        margin-right: 10px;
        margin-top: auto;
        margin-bottom: auto;
        width: 15px;
        height: 15px;
    }
}

.search-div {
    white-space: nowrap;
    display: inline-block;
    margin-right: 50px;

    input {
        font-size: vars.$fontSize6;
    }
}

.search-btn {
    @extend .grey-btn;
    // font-size: vars.$fontSize7;
    font-size: vars.$fontSize6;
    padding: 0.35em 1em;

}

/* Mobile size. */
@media only screen and (max-width: vars.$mobileWidth) {
    .queue-input-panel > .border-box-content {
        padding: 7px 10px;
    }

    .incl-prev-ans-label > input {
        width: 10px;
        height: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .search-div {
        margin-right: 0;
    }
}