@use "../abstracts/variables" as vars;



.home-content {
    width: 70%;
    height: 40vh;
    margin: 30vh auto;

    hr {
        margin: 30px 0;
    }
}

.home-logo {
    padding: 0 0 35px 0;
    width: calc(220px + 15vw);
}

.home-blurb {
    color: vars.$lighter-blue;
}