.profile-svg-connects {
    width: 100%;
    height: calc(100vh - 60px);
    // height: 1000px;
}

.qs-btn {
    left: 10%;
    top: 30%;
    transform: translate(-50%, -50%);
}

.kindred-btn {
    left: 45%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.recs-btn {
    right: 10%;
    bottom: 30%;
    transform: translate(50%, 50%);
}

.admin-btn {
    pointer-events: all;
    position: absolute;
    top: 10%;
}