@use "../components/svgConnections" as svgConnects;
@use "../abstracts/variables" as vars;



.profile-svg-connects {
    width: 100%;
    height: calc(100vh - 60px);
}

.qs-btn {
    @include svgConnects.svgConnect(left, 50%, top, 15%, -50%, -150%);
}

.kindred-btn {
    @include svgConnects.svgConnect(left, 25%, top, 45%, -110%, -50%);
}

.recs-btn {
    @include svgConnects.svgConnect(right, 25%, bottom, 30%, 50%, 150%);
}

.admin-btn {
    @include svgConnects.svgConnect(left, 25%, bottom, 20%, -110%, 50%);
}
  
/* Mobile size. */
@media only screen and (max-width: 767px) {
    .profile-svg-connects {
        width: 100%;
        height: calc(100vh - 40px);
    }
    
    .kindred-btn {
        @include svgConnects.svgConnect(left, 25%, top, 45%, -60%, -50%);
    }

    .recs-btn {
        @include svgConnects.svgConnect(right, 25%, bottom, 30%, 40%, 150%);
    }
}