@use "../abstracts/variables" as vars;



.questions-content {
    > .border-box-wrapper {
        background-image: vars.$diag-white-fade;
    }

    .queue-imgs {
        transform: translateX(20%);
    }
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
    .queue-imgs {
        transform: translateX(12.5%) !important;
    }
}