<div class="curr-question-div">
    <div class="loader"></div>
    <p class="curr-question"></p>
</div>

<div class="prev-ans-info hidden">
    <p>Question is already scored, current answer is:</p>
    <p class="prev-ans-val"></p>
</div>

<div class="rate-panel">
    <button class="change-score-btn big-change-btn down-btn"><<</button>
    <button class="change-score-btn small-change-btn down-btn"><</button>
    <span class="rating-score">5</span>
    <button class="change-score-btn small-change-btn up-btn">></button>
    <button class="change-score-btn big-change-btn up-btn">>></button>
    <br>
    <button class="skip-btn">Skip this one</button>
    <button class="rate-btn">Rate it!</button>
</div>