<div class="centre-content-h">
    <div class="loader fully-hidden"></div>
</div>

<div class="details fade-trans">
    <div class="curr-question-div">
        <span class="curr-question"></span>
    </div>
    
    <div class="prev-ans-info centre-content-h hidden">
        <span class="curr-ans-msg">Your current answer is:</span>
        <span class="prev-ans-val"></span>
    </div>
    
    <div class="rate-panel">
        <div class="range-slider grad score-slider" style='--min:0; --max:10; --step:0.5; --value:5; --text-value:"5";'>
            <input aria-label="Choose a score" type="range" min="0" max="10" step="0.5" value="5" oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify((+this.value).toLocaleString()))">
            <output></output>
            <div class='range-slider__progress'></div>
        </div>

        <div class="answer-btns-container">
            <button class="skip-btn">Skip</button>
            <button class="rate-btn">Rate it!</button>
        </div>
    </div>
</div>