@use "../abstracts/variables" as vars;



@mixin dontFocusOnClick {
    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 5px auto red;
    }
}

.anchor-btn {
    @include dontFocusOnClick;

    &:hover {
        text-decoration: none;
    }
}

.base-btn {
    @extend .anchor-btn;
    cursor: pointer;
    font: vars.$fontSize7 vars.$sansSerif;
    font-display: swap;
    display: inline-block;
    transition: background-color 0.3s, opacity 0.3s, filter 0.3s;
    padding: 0.5em 1em;
    border-width: 0;
    border-radius: 0.3em;
    margin: 0.4em;
}

.grey-btn {
    @extend .base-btn;
    background-color: vars.$primary-grey;
    color: white;

    &:hover {
        background-color: vars.$secondary-grey;
        color: white;
    }
}

.white-btn {
    @extend .base-btn;
    background-color: white;
    color: black;

    &:hover {
        background-color: rgb(224, 224, 224);
        color: black;
    }
}

.blue-btn {
    @extend .base-btn;
    background-color: vars.$mid-blue;
    color: white;

    &:hover {
        background-color: vars.$lighter-blue;
        color: white;
    }
}

.pink-btn {
    @extend .base-btn;
    background-color: vars.$lighter-pink;
    color: black;

    &:hover {
        background-color: vars.$mid-pink;
        color: black;
    }
}

.lg-cursive-btn {
    @extend .base-btn;
    font: vars.$fontSize5 vars.$cursive;
    font-display: swap;
    background-color: vars.$navy-blue;
    color: white;
    opacity: 0.8;

    &:hover {
        color: white;
        opacity: 1;
    }
}

// Info tooltip button.
.info-btn {
    @include dontFocusOnClick;
    position: absolute;
    bottom: 8%;
    right: 5%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    i {
        font-size: vars.$fontSize6;
        color: vars.$primary-grey;
        transition: color 0.3s;
    }

    &:hover > i {
        color: vars.$lighter-grey;
    }
}

.info-txt {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: opacity 0.3s;
    background-color: vars.$primary-grey;
    color: white;
    font-size: vars.$fontSize8;
    border-radius: 0.7em;
    max-width: max-content;
    width: max(200px, 15vw);
    padding: 1em;
    transform: translate(-2em, -2em);
    text-align: start;
}

.info-txt-right {
    right: auto;
    left: 0;
}

.header-row-info-btn {
    bottom: -1em;
    left: 0;
    right: auto;

    > i {
        font-size: vars.$fontSize8;
    }
}

.login-btns-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.social-btn {
    @extend .base-btn;
    background-color: hsl(217, 89%, 61%);

    > .social-inner-wrapper {
        display: flex;
        align-items: center;
    }

    &:hover {
        background-color: hsl(217, 89%, 50%);
    }

    img {
        height: vars.$fontSize5;
        width: auto;
        margin-right: 8px;
    }

    span {
        color: white;
    }
}

.arrow-btn {
    @extend .anchor-btn;
    @include dontFocusOnClick;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    transition: transform 0.15s;

    &:hover {
        transform: scale(120%);
    }

    > img {
        width: 100%;
        height: auto;
    }
}