@use "../abstracts/variables" as vars;



.base-btn {
    cursor: pointer;
    font: vars.$fontSize7 vars.$sansSerif;
    display: inline-block;
    transition: background-color 0.3s, opacity 0.3s, filter 0.3s;
    padding: 0.5em 1em;
    border-width: 0;
    border-radius: 0.3em;
    margin: 2px 2px;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: 5px auto black;
    }
}

.grey-btn {
    @extend .base-btn;
    background-color: vars.$primary-grey;
    color: white;

    &:hover {
        background-color: vars.$secondary-grey;
        color: white;
    }
}

.white-btn {
    @extend .base-btn;
    background-color: white;
    color: black;

    &:hover {
        background-color: rgb(224, 224, 224);
        color: black;
    }
}

.blue-btn {
    @extend .base-btn;
    background-color: vars.$lighter-blue;
    color: white;

    &:hover {
        background-color: vars.$mid-blue;
        color: white;
    }
}

.lg-cursive-btn {
    @extend .base-btn;
    font: vars.$fontSize5 vars.$cursive;
    background-color: vars.$navy-blue;
    color: white;
    opacity: 0.8;

    &:hover {
        color: white;
        opacity: 1;
    }
}