@use "../abstracts/variables" as vars;



.lg-cursive-btn {
    transition: opacity 0.3s;
    font: vars.$fontSize5 vars.$cursive;
    background-color: vars.$navy-blue;
    color: white;
    padding: 0.5em 1em;
    border-radius: 8px;
    opacity: 0.8;

    &:hover {
        text-decoration: none;
        color: white;
        opacity: 1;
    }
}