// Used by questions and recommendations pages.



.page-content {
    width: 40%;
    min-height: 60%;
    margin: 2% 0 2% 20%;

    .main-header {
        margin-bottom: 3%;
    }
}

/* Tablet up to desktop size. */
@media only screen and (max-width: 1023px) {
    .page-content {
        width: 70%;
        margin: 5% 15%;
        
        > .inline-border-box-wrapper {
            display: block;

            & > .border-box-content {
                display: block;
            }
        }
    }
}

/* Mobile size. */
@media only screen and (max-width: 767px) {
    .page-content {
        width: 90%;
        margin: 5%;
    }
}