@use "../abstracts/variables" as vars;



.draw-svg-path {
    transition: stroke-dashoffset vars.$svgAnimDrawTime;
}

.svg-connects-wrapper {
    position: relative;
}

.connections-svg {
    width: 100%;
    height: 100%;

    path {
        stroke: vars.$secondary-grey;
        fill: none;
        stroke-width: calc(0.5px + 0.05vw);
    }
}

.connect-elem {
    position: absolute;
}

// offsetX and offsetY are where to transform the button to, and the svg connect 
// point will be kept at hSideVal and vSideVal.
@mixin svgConnect($hSide, $hSideVal, $vSide, $vSideVal, $offsetX: 0%, $offsetY: 0%) {
    #{$hSide}: $hSideVal;
    #{$vSide}: $vSideVal;

    transform: translate($offsetX, $offsetY);

    $afterModX: 1;
    $afterModY: 1;

    @if $hSide == "left" {
        $afterModX: -1;
    }

    @if $vSide == "top" {
        $afterModY: -1;
    }

    &::after {
        content: "";
        position: absolute;
        #{$hSide}: calc(#{$afterModX} * #{$offsetX});
        #{$vSide}: calc(#{$afterModY} * #{$offsetY});
    }
}