<%- include('../partials/header') %>
  <title>Kindred | Register</title>
</head>
<body>
  <div class="pre-footer">
    <div class="full-page-content">
      <div class="page-heading-wrapper">
        <h1 class="page-heading">Complete your account</h1>
        <h2 class="page-sub-heading h-size-6">Enter a profile name and location to complete your account.</h2>
      </div>
  
      <div class="border-box-wrapper">
        <%- include('../partials/borders') %>
  
        <main class="border-box-content">
  
            <!-- Makes POST request to /register route -->
          <form class="reg-form" action="/completeOAuthAcct" method="POST">
  
            <div class="form-group">
              <label for="profile-name">Profile Name</label>
              <input id="profile-name" type="text" class="form-input" name="profile-name" required>
            </div>
  
            <div class="form-group location-group">
              <label for="loc-input">Location</label>
              <input label="loc-input" class="form-input loc-input" type="text" placeholder="Search for a place...">
              
              <!-- Chosen Google location -->
              <div class="loc-details">
                <div class="loc-detail-wrapper">
                  <span>Place:</span>
                  <textarea name="formattedAddress" class="loc-detail" required onfocus="blur();"></textarea>
                </div>
                <div class="loc-detail-wrapper">
                  <span>Country:</span>
                  <input name="countryLong" class="loc-detail" required onfocus="blur();"></input>
                </div>
              </div>
              
              <!-- Used to submit calculated address information from Google API -->
              <div class="full-address fully hidden"></div>
              <input class="fully-hidden loc-detail" name="googlePlaceId"></input>
              <input class="fully-hidden loc-detail" name="lat"></input>
              <input class="fully-hidden loc-detail" name="lng"></input>
              <input class="fully-hidden loc-detail" name="countryShort"></input>
              <input class="fully-hidden loc-detail" name="placeName"></input>
            </div>
  
            <button type="submit" class="grey-btn">Complete Account</button>
            
          </form>
  
        </main>
      </div>
  
    </div>
  </div>

  <div class="footer">
    <div class="back-btns-wrapper">
      <a class="white-btn" href="/logout">Log Out</a>
      <a class="grey-btn" href="/">Back to home</a>
    </div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqqxCjyLVWKwdAt0j3uE1vBqr2S-gqEWY&libraries=places"></script>
  <script type="module" src="/bundles/registerPlaceFinder.bundle.js"></script>

</body>
</html>