<%- include('../partials/header') %>
  <title>Kindred</title>
</head>
<body>
  <div class="pre-footer">
    <div class="full-page-flex-content-wrapper">
      <main class="full-page-flex-content error-content">
        <img class="home-logo" src="/images/logoDark.svg" alt="Kindred logo" width="143" height="53">
        <h1>Something went wrong...</h1>
        <a href="/profile" class="grey-btn">Your Profile</a>
      </main>
    </div>
  </div>
  
  <script type="module" src="/bundles/loggedInPage.bundle.js"></script>

</body>
</html>