<%- include('../partials/header') %>
  <title>Kindred</title>
</head>
<body>
  <div class="pre-footer">
    <div id="home" class="full-page-flex-content-wrapper">
      <div class="full-page-flex-content">
        <img class="home-logo" src="/images/logoDark.svg" alt="">
        <h4 class="home-blurb">Find your kindred spirits</h4>
        <hr class="home-hr">
        <a class="grey-btn" href="/login" role="button">Login</a>
        <a class="white-btn" href="/register" role="button">Register</a>
        <a class="pink-btn" href="#about" role="button">About</a>
      </div>
  
      <div class="home-down-btn-wrapper">
        <a class="home-arrow-btn arrow-btn" href="#about">
          <img src="/images/downArrow.svg" alt="">
        </a>
      </div>
    </div>

    <div id="about" class="full-page-flex-content-wrapper">
      <div class="home-up-btn-wrapper">
        <a class="home-arrow-btn arrow-btn" href="#home">
          <img src="/images/upArrow.svg" alt="">
        </a>
      </div>

      <div class="about full-page-flex-content">
        <h1>About</h1>

        <section class="home-about-sect">
          <h5 class="about-sect-heading">Find your Kindred spirits</h5>
          <p>Find your kindred spirits from around the world that share your 
            tastes and interests. Kindred shows you who you have most in common 
            with as you fill out your profile.</p>
        </section>

        <section class="home-about-sect">
          <h5 class="about-sect-heading">Recommendations</h5>
          <p>Get recommendations for films, TV, music, video games and more, from those who share your tastes and interests.</p>
          <p>Want to start reading but not sure what to start with? Get book recommendations from people who share your taste in films!</p>
          <p>Do you want to start playing sport? Find a sport you'll enjoy from people whose personality matches yours!</p>
        </section>
        
        <a class="about-login-btn grey-btn" href="/login" role="button">Login</a>
        <a class="white-btn" href="/register" role="button">Register</a>
      </div>
    </div>

  </div>

<%- include('../partials/endBody') %>