<%- include('../partials/header') %>
  <title>Kindred | Login</title>
  <meta name="description" content="Log in to Kindred. Find people similar to you around the world and get recommendations from your kindred spirits.">
</head>
<body>
  <div class="pre-footer">
    <div class="full-page-content">
      <h1 class="page-heading">Login</h1>
  
      <div class="border-box-wrapper">
        <%- include('../partials/borders') %>
  
        <main class="border-box-content">
  
          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" type="email" class="form-input" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" type="password" class="form-input" name="password">
            </div>
            
            <div class="login-btns-wrapper">
              <button type="submit" class="grey-btn">Login</button>
  
              <a class="social-btn" href="/auth/google">
                <div class="social-inner-wrapper">
                  <img src="images/btn_google_light_normal_ios.svg" alt="Log in with Google" width="46" height="46">
                  <span>Sign in with Google</span>
                </div>
              </a>
            </div>
          </form>
        
        </main>
      </div>
    
    </div>
  </div>

  <div class="footer">
    <div class="back-btns-wrapper">
      <a class="white-btn" href="/register">Register</a>
      <a class="grey-btn" href="/">Back to home</a>
    </div>
  </div>

</body>
</html>