<%- include('../partials/header') %>
  <title>Kindred</title>
</head>
<body>
  <div class="pre-footer">
    <div class="full-page-flex-content-wrapper">
      <div class="full-page-flex-content error-content">
        <img class="home-logo" src="/images/logoDark.svg" alt="">
        <h1>404</h1>
        <h3>We can't find that page.</h3>
        <a href="/profile" class="grey-btn">Your Profile</a>
      </div>
    </div>
  </div>

</body>
</html>