<%- include('../partials/header') %>
  <title>Kindred | Register</title>
  <meta name="description" content="Sign up to Kindred. Find people similar to you around the world and get recommendations from your kindred spirits.">
</head>
<body>
  <div class="pre-footer">
    <main class="full-page-content">
      <h1 class="page-heading">Register</h1>
  
      <div class="border-box-wrapper">
        <%- include('../partials/borders') %>
  
        <div class="border-box-content">
  
            <!-- Makes POST request to /register route -->
          <form class="reg-login-form" action="/register" method="POST">
  
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" type="email" class="form-input" name="email" required>
            </div>
  
            <div class="form-group">
              <label for="password">Password</label>
              <input id="password" type="password" class="form-input" name="password" required>
            </div>
  
            <div class="form-group">
              <label for="profile-name">Profile Name</label>
              <input id="profile-name" type="text" class="form-input" name="profile-name" required>
            </div>
  
            <div class="form-group location-group">
              <label for="loc-input">Location</label>
              <input id="loc-input" class="form-input loc-input" type="text" placeholder="Search for a place...">
              
              <!-- Chosen Google location -->
              <div class="loc-details">
                <div class="loc-detail-wrapper">
                  <label for="google-place">Place:</label>
                  <!-- <span>Place:</span> -->
                  <textarea id="google-place" name="formattedAddress" class="loc-detail" required onfocus="blur();"></textarea>
                </div>
                <div class="loc-detail-wrapper">
                  <label for="google-country">Country:</label>
                  <!-- <span>Country:</span> -->
                  <input id="google-country" name="countryLong" class="loc-detail" required onfocus="blur();"></input>
                </div>
              </div>
              
              <!-- Used to submit calculated address information from Google API -->
              <div class="full-address fully hidden"></div>
              <input class="fully-hidden loc-detail" name="googlePlaceId"></input>
              <input class="fully-hidden loc-detail" name="lat"></input>
              <input class="fully-hidden loc-detail" name="lng"></input>
              <input class="fully-hidden loc-detail" name="countryShort"></input>
              <input class="fully-hidden loc-detail" name="placeName"></input>
            </div>
  
            <div class="login-btns-wrapper">
              <button type="submit" class="grey-btn reg-btn">Register</button>
  
              <a class="social-btn" href="/auth/google">
                <div class="social-inner-wrapper">
                  <img src="images/btn_google_light_normal_ios.svg" alt="Sign up with Google" width="46" height="46">
                  <span>Sign up with Google</span>
                </div>
              </a>
            </div>
            
          </form>
  
        </div>
      </div>
  
    </main>
  </div>

  <div class="footer">
    <div class="back-btns-wrapper">
      <a class="white-btn" href="/login">Log In</a>
      <a class="grey-btn" href="/">Back to home</a>
    </div>
  </div>

  <div class="centre-modal-wrapper fade-trans fully-hidden transparent">
      <div class="centre-modal-background"></div>
      <div class="centre-modal">
          <!-- Error message -->
          <div class="answer-panel">
              <p>A user is already registered with that email address, please login instead.</p>
          </div>
          <button class="close"><i class="fa-solid fa-xmark"></i></button>
      </div>
  </div>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqqxCjyLVWKwdAt0j3uE1vBqr2S-gqEWY&libraries=places"></script>
  <script type="module" src="/bundles/register.bundle.js"></script>

</body>
</html>
