// Colours
$primary-yellow: hsl(52, 82%, 83%);
$lighter-yellow: hsl(52, 82%, 96%);

$primary-grey: hsl(0, 0%, 21%);
$secondary-grey: hsl(0, 0%, 43%);
$lighter-grey: hsl(0, 0%, 65%);

$navy-blue: hsl(230, 49%, 29%);
$mid-blue: hsl(222, 22%, 48%);
$lighter-blue: hsl(222, 22%, 60%);
$lightest-blue: hsl(222, 22%, 80%);

$lighter-pink: 	hsl(0, 65%, 81%);
$mid-pink: 	hsl(0, 65%, 70%);
$darker-pink: 	hsl(312, 61%, 30%);

$diag-white-fade: linear-gradient(
    to top right, 
    rgba(255,255,255,0) 5%, 
    rgba(255,255,255,0.7) 20%, 
    rgba(255,255,255,0.7) 80%, 
    rgba(255,255,255,0) 95%
);

$cursive: 'Merienda', cursive;
$sansSerif: 'Catamaran', sans-serif;

$fontSize9: calc(0.4rem + 0.2vw);
$fontSize8: calc(0.5rem + 0.25vw);
$fontSize7: calc(0.6rem + 0.3vw);
$fontSize6: calc(0.7rem + 0.35vw);
$fontSize5: calc(0.8rem + 0.4vw);
$fontSize4: calc(0.9rem + 0.45vw);
$fontSize3: calc(1.4rem + 0.7vw);
$fontSize2: calc(1.8rem + 0.9vw);
$fontSize1: calc(2.0rem + 1.0vw);

// Drawing SVG connections
$svgAnimDrawTime: 0.75s linear;

// Media query sizes.
$tabletWidth: 1023px;
$mobileWidth: 767px;