// Colours
$primary-yellow: hsl(52, 82%, 83%);
$lighter-yellow: hsl(52, 82%, 96%);

$primary-grey: hsl(0, 0%, 21%);
$secondary-grey: hsl(0, 0%, 43%);
$lighter-grey: hsl(0, 0%, 65%);

$navy-blue: hsl(230, 49%, 29%);
$mid-blue: hsl(222, 22%, 48%);
$lighter-blue: hsl(222, 22%, 60%);

$lighter-pink: 	hsl(0, 65%, 81%);
$darker-pink: 	hsl(312, 61%, 30%);

// Fonts
$cursive: 'Merienda', cursive;
$sansSerif: 'Catamaran', sans-serif;

$fontSize9: calc(0.3rem + 0.225vw);
$fontSize8: calc(0.4rem + 0.3vw);
$fontSize7: calc(0.5rem + 0.375vw);
$fontSize6: calc(0.6rem + 0.45vw);
$fontSize5: calc(0.7rem + 0.5vw);
$fontSize4: calc(0.8rem + 0.6vw);
$fontSize3: calc(1.2rem + 0.9vw);
$fontSize2: calc(1.6rem + 1.2vw);
$fontSize1: calc(2rem + 1.5vw);

// Drawing SVG connections
$svgAnimDrawTime: 0.75s linear;